<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("./partials/head") %>

    <title>Add Blog</title>
</head>
<body>
  
         <%- include("./partials/nav") %>

         <div class="container mt-5">
  <h2>Create Blog Post</h2>
  
  <form action="/blog" method="post"  enctype="multipart/form-data">
    <div class="mb-3">
      <label for="blogTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter blog title">
    </div>
        <div class="mb-3">
      <label for="blogBody" class="form-label">Body</label>
      <textarea class="form-control" id="body" name="body" rows="5" placeholder="Write your blog content here..."></textarea>
    </div>

     <div class="mb-3">
      <label for="coverImage" class="form-label">Cover Image</label>
      <input class="form-control" type="file" name="coverImage" id="coverImage" accept="image/*">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
    
       <%- include("./partials/scripts") %>

</body>
</html>